<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.generalbrus.brightlockscreen" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposedminversion"
            android:value="66" />

        <meta-data
            android:name="xposeddescription"
            android:value="Removes the dark overlay on Lollipop lock screen wallpaper." />

        <activity
            android:name=".PrefsActivity"
            android:label="@string/title_activity_prefs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.generalbrus.brightlockscreen.PrefsAlias"
            android:label="@string/app_name"
            android:enabled="true"
            android:targetActivity="com.generalbrus.brightlockscreen.PrefsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".PrefsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.generalbrus.brightlockscreen.PrefsActivity" />
        </activity>
    </application>

</manifest>
